<div class="container container-contractors">
  <div class="contractors-page">
    <h1>Контрагенты</h1>
  </div>
</div>

<header class="toolbar" style="background-color: rgb(202, 238, 218);">
  <div class="toolbar__content" style="height: 40px;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="input-group">
            <select [(ngModel)]="searchColumn" name="searchColumn" id="searchColumn"
                    (change)="searchColumnChange($event)">
              <option value="">Все столбцы</option>
              <option value="lbl">Обозначение</option>
              <option value="nameFull">Полное название</option>
              <option value="address">Юридический адрес</option>
              <option value="inn">ИНН</option>
              <option value="kpp">КПП</option>
              <option value="listWork">Укрупненный перечень товаров/услуг</option>
            </select>
            <input [formControl]="queryField" type="text" placeholder="Поиск..." autofocus/>
          </div>
        </div>

        <div class="col-6">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
              <a>Действия</a>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#filterModal">
                Фильтр
              </button></li>
              <li><button class="dropdown-item" (click)="clearFilter()">
                Очистить фильтр
              </button></li>
              <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#selectColumnsModal">
                Выбрать столбцы
              </button></li>
            </ul>
          </div>
        </div>

        <div class="col-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="flexRadioDefault1"
                         [(ngModel)]="isJPA" name="isJPA" [value]="true" (change)="radioChange($event)" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    JPA
                  </label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="flexRadioDefault2"
                         [(ngModel)]="isJPA" name="isJPA" [value]="false" (change)="radioChange($event)">
                  <label class="form-check-label" for="flexRadioDefault2">
                    JOOQ
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<!-- Фильтры -->
<div *ngFor="let cond of filter.cond; let i=index" class="filter-list">
  <label class="filter-label">
    Фильтр: столбец-{{cond.field}} оператор-{{cond.operator}} выражение-{{cond.value}}
    <button type="button" class="btn btn-light btn-sm bi bi-x-lg" (click)="deleteFilter(i)"></button>
  </label>
</div>

<!-- Модальное окно 1 -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">

        <form>
          <label class="form-label">Столбец</label>
          <select [(ngModel)]="column" name="column" id="column">
            <option value="lbl">Обозначение</option>
            <option value="nameFull">Полное название</option>
            <option value="address">Юридический адрес</option>
            <option value="inn">ИНН</option>
            <option value="kpp">КПП</option>
            <option value="listWork">Укрупненный перечень товаров/услуг</option>
          </select>

          <label class="form-label">Оператор</label>
          <select [(ngModel)]="operator" name="operator" id="operator" (change)="valueChange($event)">
            <option value="contains">содержит</option>
            <option value="not contains">не содержит</option>
            <option value="equals">равняется</option>
            <option value="not equal">не равняется</option>
            <option value="starts with">начинается с</option>
            <option value="ends with">заканчивается на</option>
            <option value="blank">пустой</option>
            <option value="not blank">не пустой</option>
          </select>

          <div *ngIf="showExpression">
            <label class="form-label">Выражение</label>
            <input [(ngModel)]="expression" type="text" id="expression" name="expression" placeholder="Выражение">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-outline-success"
                (click)="onSubmit(column, operator, expression)">Применить</button>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 2 -->
<div class="modal fade" id="selectColumnsModal" tabindex="-1" aria-labelledby="selectColumnsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectColumnsModalLabel">Выбор столбцов</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="form" novalidate>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="lbl" (change)="onCheckboxChange($event)" />
              Обозначение
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="nameFull" (change)="onCheckboxChange($event)" />
              Полное название
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="address" (change)="onCheckboxChange($event)" />
              Юридический адрес
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="inn" (change)="onCheckboxChange($event)" />
              ИНН
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="kpp" (change)="onCheckboxChange($event)" />
              КПП
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input checked class="form-check-input" type="checkbox" value="listWork" (change)="onCheckboxChange($event)" />
              Укрупненный перечень товаров/услуг
            </label>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<!-- Таблица контрагентов -->
<div class="card my-3">
  <div class="card-body">
    <table class="table theme-balham table-bordered">
      <thead class="thead-green">
      <tr>
        <th scope="col"></th>
        <th *ngIf="checkArray.value.includes('lbl')" scope="col">Обозначение</th>
        <th *ngIf="checkArray.value.includes('nameFull')" scope="col">Полное название</th>
        <th *ngIf="checkArray.value.includes('address')" scope="col">Юридический адрес</th>
        <th *ngIf="checkArray.value.includes('inn')" scope="col">ИНН</th>
        <th *ngIf="checkArray.value.includes('kpp')" scope="col">КПП</th>
        <th *ngIf="checkArray.value.includes('listWork')" scope="col">Укрупненный перечень товаров/услуг</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contractor of contractors">
        <td><button type="button" class="btn btn-light bi bi-search"
                    [routerLink]="['/contractor', contractor.objectId]"></button></td>
        <td *ngIf="checkArray.value.includes('lbl')">{{ contractor.lbl }}</td>
        <td *ngIf="checkArray.value.includes('nameFull')">{{ contractor.nameFull }}</td>
        <td *ngIf="checkArray.value.includes('address')">{{ contractor.address }}</td>
        <td *ngIf="checkArray.value.includes('inn')">{{ contractor.inn }}</td>
        <td *ngIf="checkArray.value.includes('kpp')">{{ contractor.kpp }}</td>
        <td *ngIf="checkArray.value.includes('listWork')">{{ contractor.listWork }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
