.row {
  margin-top: 20px;
}

.nav-link {
  background-color: #FFF;
  color: #000;
}

.nav-link.active {
  background-color: #42b983;
  color: #FFF;
}

.btn.btn-success{
  margin-top: 20px;
  margin-left: 20px;

  background-color: #FFF;
  color: #000;
}

.container-fluid{
  margin-top: 60px;
  margin-left: 40px;
}
