.row {
  margin-top: 20px;
}

.nav-link {
  background-color: #FFF;
  color: #000;
}

.nav-link.active {
  background-color: #42b983;
  color: #FFF;
}

.btn.btn-success{
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: #FFF;
  color: #000;
}

.container-fluid{
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.theme-balham {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 14px;
}

img{
  height: 80px;
  max-width: 200px;
}


